{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}
    <div class="row container py-3">
        <aside class="col-auto col-md-3">
            <img style="width: 170px;" src="{% static 'img/me.jpg' %}"
                class="rounded float-start" alt=""/>
        </aside>
        <aside class="col-auto col-md-6">
            <div class="card">
              <div class="card-body text-dark">
                  <h5>About me</h5>
                  Hello there! My name is Rolan.
                  I've been studying programming for a year and a half.
                  In my spare time I learn english and math, play chess and exercise.
              </div>
            </div>
        </aside>
    </div>
{% endblock %}