{% extends 'users/card.html' %}

{% block title %}Новый пароль{% endblock %}

{% block card_header %}
    {% if validlink %}
        Введите новый пароль
    {% else %}
        Ошибка
    {% endif %}
{% endblock %}

{% block card_body %}
    {% if validlink %}
        {% with button='Назначить новый пароль' %}
            {% include 'users/includes/form_user.html' %}
              </div>
            </form>
    {% endwith %}
    {% else %}
        <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
    {% endif %}
{% endblock %}
