{% extends 'users/card.html' %}

{% block title %}A new password{% endblock %}

{% block card_header %}
    {% if validlink %}
        Enter a new password
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block card_body %}
    {% if validlink %}
        {% with button='Set a new password' %}
            {% include 'users/includes/form_user.html' %}
              </div>
            </form>
    {% endwith %}
    {% else %}
        <p>The password reset link is invalid or out of date.</p>
    {% endif %}
{% endblock %}
